<html>
  <head>
    <title>7TV Emotes | Global</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/global.css" />
  </head>
  <body>
    <script src="js/mainpage.js"></script>
    <script>
      function disableJoin() {
        document.getElementById("join").disabled = true;
      }

      function startLiveUpdate() {
        const textChannelCount = document.getElementById("channelCount");
        const emoteUsageCount = document.getElementById("globalUsage");
        setInterval(async () => {
          await fetch("https://api.kattah.me/global", {
            method: "GET",
          })
            .then((res) => res.json())
            .then((data) => {
              const { logging_channels, global } = data.data;
              const sortByUsage = global.sort((a, b) => b.usage - a.usage);
              sortByUsage.forEach((emote) => {
                const emoteElement = document.getElementById(emote.emote);
                if (emoteElement) {
                  emoteElement.innerHTML = emote.usage.toLocaleString();
                }
              });
              textChannelCount.innerText = `Tracking Total ${logging_channels.toLocaleString()} channels and more!`;
            });

          await fetch("https://api.kattah.me/top", {
            method: "GET",
          })
            .then((res) => res.json())
            .then((result) => {
              const { data } = result;
              const sortByUsage = data.sort((a, b) => b.usage - a.usage);
              sortByUsage.forEach((emote) => {
                const emoteElement = document.getElementById(emote.emote);
                if (emoteElement) {
                  emoteElement.innerHTML = emote.usage;
                }
              });
            });
        }, 1500);
      }

      document.addEventListener("DOMContentLoaded", () => {
        startLiveUpdate();
      });
    </script>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">Emote Stats</a>

        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <% if (session.passport && session.passport.user) { %>
          <li class="navbar__item">
            <a href="/search" class="navbar__links"> Search </a>
          </li>
          <li class="navbar__item">
            <a
              href="/c?user=<%= session.passport.user.data[0].login %>"
              class="navbar__links"
            >
              My Channel
            </a>
          </li>
          <li class="navbar__btn">
            <a href="/logout" class="button"> Logout </a>
          </li>
          <% } else { %>
          <li class="navbar__item">
            <a href="/search" class="navbar__links"> Search </a>
          </li>
          <li class="navbar__btn">
            <a href="/auth/twitch" class="button" id="join">Login</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="stats">
      <h1 id="channelCount" class="channels">
        Tracking Total <%= channels %> channels and more!
      </h1>
      <p class="since">Since <%= since %></p>
    </div>
    <div
      style="
        height: 600px;
        width: 360px;
        overflow: auto;
        background-color: rgb(51, 50, 50);
        color: white;
        font-family: arial;
        padding: 15px;
        max-width: 100%;
        overflow-x: hidden;
      "
      class="global"
    >
      <h3>Global Emotes</h3>
      <% for (const data of global) { %>
      <h3 class="emote_name"><%= data.name %></h3>
      <p class="emote_usage" id="<%= data.emote %>">
        <%= data.usage.toLocaleString() %>
      </p>
      <img src="https://cdn.7tv.app/emote/<%= data.emote %>/1x" />
      <% } %>
    </div>
    <div
      style="
        height: 600px;
        width: 360px;
        overflow: auto;
        background-color: rgb(51, 50, 50);
        color: white;
        font-family: arial;
        padding: 15px;
        max-width: 100%;
        overflow-x: hidden;
      "
      class="top"
    >
      <h3>Top Used Channel Emotes</h3>
      <% for (const data of channelEmotes) { %>
      <h3 class="emote_name"><%= data.name %></h3>
      <p class="emote_usage" id="<%= data.emote %>"><%= data.usage %></p>
      <img src="https://cdn.7tv.app/emote/<%= data.emote %>/1x" />
      <% } %>
    </div>
  </body>
</html>
